{% extends 'users/base.html' %}
{% block content %}
    <h3>Password reset</h3>
    <p></p>
    <form method="POST">{%csrf_token%}
      <div style="background-color:azure; border-radius: 5px;padding: 10px;">
      <div class="form-group">
        <label for="username">Email:</label>
        <small style="color: red;">{{form.email.errors}}</small>
        <input type="email" class="form-control" name=email id="id_email" aria-describedby="emailHelp" placeholder="Enter email" required>
        <small id="usernameHelp" class="form-text text-muted">{{form.username.help_text}}</small>
      </div>
      <small style="color:red;">{{ form.non_field_errors }}</small>
    </div>
  <p></p><p></p>
      <button type="submit" class="btn btn-outline-secondary btn-sm">Reset</button>
    </form>
{% endblock %}